/* imports */
@import url(./fonts.css);
/* global styles */
@import url(./global-styles.css);


/* main colors and styles */
:root {
  /* white */
  --white: #ffffff;

  /* black */
  --table_black: #323c47;

  /* gray */
  --dark_gray_text: #4c5862;
  --gray: #90a0b7;
  --gray_1: #333333;
  --gray_3: #828282;
  --icon_gray: #c2cfe0;
  --profile_gray: #4C5862;
  --table_gray: #707683;
  --divider: #EBEFF2;

  /* blue */
  --accent_blue: #109cf1;
  --dark_blue: #334D6E;

  /* red */
  --red: #f7685b;
  --status_mistake: #FF2222;
  --status_mistake_1: #FC7373;

  /* green */
  --green: #2ed47a;
  --status_done: #86C96F;
 
  /* yellow */
  --status_warning_1: #FFA360;
  --yellow: #ffb946;

  /* other */
  --purple: #885AF8;


  /* shadows */
  --shadow_1: box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  --shadow_btn: box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  --radius_4: border-radius: 4px;
  --radius_5: border-radius: 5px;
  --radius_6: border-radius: 6px;

  /* borders */
  --dashed: border: 1px dashed #7B61FF;
}

/*  
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

button {
  cursor: pointer;
}
